/* H1 and subtitle */
.photographer {
    display: flex;
    flex-direction: column;
}
.subtitle {
    font-size: 13px;
    font-style: italic;
    color: #505b6e;
}

/*Footer*/
.footer {
    margin: 10px;
}
.media-footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
}
.social-link {
    margin : 20px;
}
/* Copyright */
.copyright {
    font-size: 12px;
    font-style: italic;
    color: #727478;
}
/* Contact informations */
.contact-info {
    margin-top: 40px;
    margin-bottom: 30px;
}
.contact-info, .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #505b6e;
}
.contact-name {
    font-weight: 700;
    font-size: 20px;
}
.contact-job {
    font-style: italic;
}
.address, .telephone, .opening-schedule {
    font-size: 14px;
}
 
/* Dealing with imgs' width and height*/
img {
    max-width: 100%;
    height: auto;
    aspect-ratio: initial;
}